body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #050816;
  color: white;
}

.hero {
  display: flex;
  min-height: 100vh;
  padding: 40px;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.hero-left {
  flex: 1;
}

.hero-right {
  flex: 1;
}

.tag {
  background: #12233d;
  padding: 8px 14px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 20px;
  color: #6ec1ff;
}

h1 {
  font-size: 55px;
  line-height: 1.1;
}

p {
  font-size: 18px;
  color: #c7c7c7;
}

.hero-buttons {
  margin-top: 25px;
}

.btn-primary,
.btn-secondary {
  padding: 14px 24px;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
}

.btn-primary {
  background: #0ea5e9;
  color: white;
}

.btn-secondary {
  border: 1px solid #555;
  color: white;
}

.hero-right img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

form {
  background: #0b1220;
  padding: 25px;
  border-radius: 20px;
}

form h2 {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  background: #111827;
  color: white;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #0ea5e9;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: green;
  color: white;
  padding: 15px;
  border-radius: 50px;
  text-decoration: none;
}

@media(max-width: 900px) {
  .hero {
    flex-direction: column;
  }

  h1 {
    font-size: 38px;
  }
}


.btn-telegram{
  background:#0088cc;
  color:white;
  border:none;
}

.btn-telegram:hover{
  background:#00a2ff;
}





